* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 2px solid #333;
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
}

.header_title {
  font-size: 2.6rem;
}

.container {
  max-width: fit-content;
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}
.letter_box {
  height: 80px;
  width: 80px;
  font-size: 3rem;
  border: 3px solid #777373;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbol {
  font-size: 40px;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.correct {
  background-color: rgb(16, 149, 16);
  color: white;
}
.missedplace {
  background-color: goldenrod;
  color: white;
}
.wrong {
  background-color: rgb(209, 47, 47);
  color: white;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  10% {
    color: coral;
  }
  20% {
    color: yellow;
  }
  30% {
    color: green;
  }
  40% {
    color: rgb(41, 179, 243);
  }
  50% {
    color: indigo;
  }
  60% {
    color: violet;
  }
}
.winner {
  animation: rainbow 4s infinite linear;
}

.invalid_word_flash {
  animation: flash 2s;
}
@keyframes flash {
  100% {
    border-color: red;
  }
  5% {
    border-color: gray;
  }
  
}
.hidden {
  visibility: hidden;
}